.ordering-title {
  display: flex;
  text-align: center;
  flex-direction: column;
  gap: 30px;

  &__text {
    color: #FFFFFF;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;

    @media screen and (max-width: 767px) {
      font-size: 26px;
    }
  }

  &__select {
    color: #3E9CDC;
  }

  &__subtitle {
    color: #BBB;
    font-size: 18px;

    @media screen and (max-width: 767px) {
      font-size: 14px;
    }
  }
}