.banner {
  min-height: 850px;
  background-image: url("@/assets/banner-bg.jpg");
  background-position: center;
  background-size: cover;
  padding: 0 20px;

  @media screen and (max-width: 767px) {
    min-height: auto;
  }

  &__content {
    padding: 200px 0 100px;
    max-width: 1169px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 80px;

    @media screen and (max-width: 767px) {
      padding: 125px 0 40px;
      gap: 50px;
    }
  }

  &__buttons {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
  }
}