.banner {
  min-height: 850px;
  background-image: url("@/assets/banner-bg.jpg");
  background-position: center;
  background-size: cover;

  &__content {

    padding: 200px 0 100px;
    max-width: 1169px;
    margin: 0 auto;
  }
}