.page-header-navigation {
  &__list {
     display: flex;
     align-items: center;
     gap: 60px;

    @media screen and (max-width: 767px) {
      gap: 50px;
    }

    @media screen and (max-width: 449px) {
      gap: 25px;
    }
  }
}