.page-footer {
  background: #3D4050;
  min-height: 80px;
  padding: 0 20px;

  &__cooperate {
    color: #FFFFFF;
    font-size: 13px;

    @media screen and (max-width: 767px) {
      text-align: center;
    }
  }

  &__content {
    display: grid;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
    max-width: 1169px;
    margin: 0 auto;
    grid-auto-flow: column;

    @media screen and (max-width: 1365px) {
      align-items: unset;
    }

    @media screen and (max-width: 767px) {
      grid-auto-flow: row;
      grid-gap: 15px;
      justify-items: center;
    }
  }

  &__section {
    position: relative;
    padding-right: 41px;
    margin-right: 40px;

    @media screen and (max-width: 1365px) {
      display: flex;
      align-items: center;
    }

    @media screen and (max-width: 767px) {
      margin: 0;
      padding: 0;
    }

    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 1px;
      background: #C3C3C3;

      @media screen and (max-width: 767px) {
        display: none;
      }
    }

    &:last-child {
      margin-right: 0;
      padding-right: 0;

      &::after {
        display: none;
      }
    }
  }
}
