.page-header-navigation-button {
  color: #FFFFFF;
  transition: color .3s linear;
  text-decoration: none;

  &:hover,
  &--is-active {
   color: #43ABF0;
  }

  &__text {
     font-size: 13px;
     text-transform: uppercase;

    @media screen and (max-width: 767px) {
      font-size: 10px;
    }
  }
}