.select {
  position: relative;

  &__content {
    display: flex;
    min-height: 48px;
    background: rgba(62, 65, 81, 0.85);
    border-radius: 3px;

    @media screen and (max-width: 767px) {
      min-height: 38px;
    }
  }

  &__input {
    color: #FFF;
    font-size: 18px;
    padding: 0 10px;

    @media screen and (max-width: 767px) {
      font-size: 14px;
    }
  }

  &__button {
    display: flex;
    align-items: center;
    padding: 10px;
  }

  &__icon {
    font-size: 21px;
    transition: transform .1s linear;

    @media screen and (max-width: 767px) {
      font-size: 18px;
    }

    &--is-close {
      transform: rotate(180deg);
    }
  }

  &__dropdown {
    position: absolute;
    z-index: 100;
    top: calc(100% - 2px);
    left: 0;
    width: 100%;
    border: 1px solid #3D4050;
    padding: 3px;
    background: rgba(39, 39, 51, 0.90);
    border-radius: 0 0 3px 3px;
  }

  &__list {
    max-height: 180px;
    overflow: auto;

    &::-webkit-scrollbar {
      border-radius: 6px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 6px;
    }
  }

  &__option {
    margin-right: 6px;
  }
}