.page-footer-button {
  display: flex;
  gap: 10px;
  align-items: center;
  text-decoration: none;

  &:hover {
    color: #43ABF0;
  }

  &__icon {
    font-size: 20px;
    color: #3E9CDC;
  }

  &__text {
    font-size: 13px;
  }
}