.page-header {
  background:  rgba(16, 16, 29, 0.90);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;

  &__logo{
    height: auto;
    width: 247px;
  }

  &__content{
    display: flex;
    align-items: center;
    gap: 60px;
    justify-content: space-between;
    min-height: 100px;
    padding: 32px 0;
    max-width: 1169px;
    margin: 0 auto;
  }
}
